<?xml version='1.0' standalone='yes' ?>
<GXML_Root>
  <Version type='Version'>1.0</Version>
  <Network mems='9'>
    <FOFB_Controller_IP type='String'>10.0.5.31</FOFB_Controller_IP>
    <LNLS_Control_Network_IP type='String'>10.128.1.230</LNLS_Control_Network_IP>
    <LNLS_Control_Network_Power_Supplies_TCP_Port type='U16'>4001</LNLS_Control_Network_Power_Supplies_TCP_Port>
    <LNLS_Control_Network_FOFB_Configuration_TCP_Port type='U16'>4002</LNLS_Control_Network_FOFB_Configuration_TCP_Port>
    <LNLS_Control_Network_BPMs_TCP_Port type='U16'>4003</LNLS_Control_Network_BPMs_TCP_Port>
    <Monitoring_Data_TCP_Port type='U16'>3601</Monitoring_Data_TCP_Port>
    <Fast_Archiver_TCP_Port type='U16'>3603</Fast_Archiver_TCP_Port>
    <Fast_Command_TCP_Port type='U16'>3604</Fast_Command_TCP_Port>
    <TCP_Listening_Timeout type='I32'>-1</TCP_Listening_Timeout>
  </Network>
  <Fast_Acquisition mems='3'>
    <Sampling_Period type='U32'>320</Sampling_Period>
    <Data_Buffer_Size type='U32'>100</Data_Buffer_Size>
    <Monitoring_Period type='U32'>1000000</Monitoring_Period>
  </Fast_Acquisition>
  <Acquisition_Network dim='[6]' type='Cluster'>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis01</Chassis_Name>
      <Variables dim='[10]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP02AH</Variable_Name>
          <Matrix_Order type='U32'>2</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP02AV</Variable_Name>
          <Matrix_Order type='U32'>27</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP02BH</Variable_Name>
          <Matrix_Order type='U32'>3</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP02BV</Variable_Name>
          <Matrix_Order type='U32'>28</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03AH</Variable_Name>
          <Matrix_Order type='U32'>4</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03AV</Variable_Name>
          <Matrix_Order type='U32'>29</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03BH</Variable_Name>
          <Matrix_Order type='U32'>5</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03BV</Variable_Name>
          <Matrix_Order type='U32'>30</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03CH</Variable_Name>
          <Matrix_Order type='U32'>6</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>FALSE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP03CV</Variable_Name>
          <Matrix_Order type='U32'>31</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>FALSE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis02</Chassis_Name>
      <Variables dim='[8]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP04AH</Variable_Name>
          <Matrix_Order type='U32'>7</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP04AV</Variable_Name>
          <Matrix_Order type='U32'>32</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP04BH</Variable_Name>
          <Matrix_Order type='U32'>8</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP04BV</Variable_Name>
          <Matrix_Order type='U32'>33</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP05AH</Variable_Name>
          <Matrix_Order type='U32'>9</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP05AV</Variable_Name>
          <Matrix_Order type='U32'>34</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP05BH</Variable_Name>
          <Matrix_Order type='U32'>10</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP05BV</Variable_Name>
          <Matrix_Order type='U32'>35</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis03</Chassis_Name>
      <Variables dim='[8]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP06AH</Variable_Name>
          <Matrix_Order type='U32'>11</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP06AV</Variable_Name>
          <Matrix_Order type='U32'>36</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP06BH</Variable_Name>
          <Matrix_Order type='U32'>12</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP06BV</Variable_Name>
          <Matrix_Order type='U32'>37</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP07AH</Variable_Name>
          <Matrix_Order type='U32'>13</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP07AV</Variable_Name>
          <Matrix_Order type='U32'>38</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP07BH</Variable_Name>
          <Matrix_Order type='U32'>14</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP07BV</Variable_Name>
          <Matrix_Order type='U32'>39</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis04</Chassis_Name>
      <Variables dim='[8]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP08AH</Variable_Name>
          <Matrix_Order type='U32'>15</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP08AV</Variable_Name>
          <Matrix_Order type='U32'>40</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP08BH</Variable_Name>
          <Matrix_Order type='U32'>16</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP08BV</Variable_Name>
          <Matrix_Order type='U32'>41</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP09AH</Variable_Name>
          <Matrix_Order type='U32'>17</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP09AV</Variable_Name>
          <Matrix_Order type='U32'>42</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP09BH</Variable_Name>
          <Matrix_Order type='U32'>18</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP09BV</Variable_Name>
          <Matrix_Order type='U32'>43</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis05</Chassis_Name>
      <Variables dim='[8]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP10AH</Variable_Name>
          <Matrix_Order type='U32'>19</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP10AV</Variable_Name>
          <Matrix_Order type='U32'>44</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP10BH</Variable_Name>
          <Matrix_Order type='U32'>20</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP10BV</Variable_Name>
          <Matrix_Order type='U32'>45</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMU11AH</Variable_Name>
          <Matrix_Order type='U32'>21</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMU11AV</Variable_Name>
          <Matrix_Order type='U32'>46</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMU11BH</Variable_Name>
          <Matrix_Order type='U32'>22</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMU11BV</Variable_Name>
          <Matrix_Order type='U32'>47</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>BPM-Chassis06</Chassis_Name>
      <Variables dim='[8]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP12AH</Variable_Name>
          <Matrix_Order type='U32'>23</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP12AV</Variable_Name>
          <Matrix_Order type='U32'>48</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP12BH</Variable_Name>
          <Matrix_Order type='U32'>24</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP12BV</Variable_Name>
          <Matrix_Order type='U32'>49</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP01AH</Variable_Name>
          <Matrix_Order type='U32'>25</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP01AV</Variable_Name>
          <Matrix_Order type='U32'>50</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP01BH</Variable_Name>
          <Matrix_Order type='U32'>1</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>AMP01BV</Variable_Name>
          <Matrix_Order type='U32'>26</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
  </Acquisition_Network>
  <Actuation_Network dim='[6]' type='Cluster'>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA01B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH01B</Variable_Name>
          <Matrix_Order type='U32'>1</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV01B</Variable_Name>
          <Matrix_Order type='U32'>19</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH03A</Variable_Name>
          <Matrix_Order type='U32'>3</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV03A</Variable_Name>
          <Matrix_Order type='U32'>22</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV02A</Variable_Name>
          <Matrix_Order type='U32'>20</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV02B</Variable_Name>
          <Matrix_Order type='U32'>21</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH02</Variable_Name>
          <Matrix_Order type='U32'>2</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA02B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH03B</Variable_Name>
          <Matrix_Order type='U32'>4</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV03B</Variable_Name>
          <Matrix_Order type='U32'>23</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH05A</Variable_Name>
          <Matrix_Order type='U32'>6</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV05A</Variable_Name>
          <Matrix_Order type='U32'>26</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV04A</Variable_Name>
          <Matrix_Order type='U32'>24</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV04B</Variable_Name>
          <Matrix_Order type='U32'>25</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH04</Variable_Name>
          <Matrix_Order type='U32'>5</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA03B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH05B</Variable_Name>
          <Matrix_Order type='U32'>7</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV05B</Variable_Name>
          <Matrix_Order type='U32'>27</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH07A</Variable_Name>
          <Matrix_Order type='U32'>9</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV07A</Variable_Name>
          <Matrix_Order type='U32'>30</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV06A</Variable_Name>
          <Matrix_Order type='U32'>28</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV06B</Variable_Name>
          <Matrix_Order type='U32'>29</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH06</Variable_Name>
          <Matrix_Order type='U32'>8</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA04B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH07B</Variable_Name>
          <Matrix_Order type='U32'>10</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV07B</Variable_Name>
          <Matrix_Order type='U32'>31</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH09A</Variable_Name>
          <Matrix_Order type='U32'>12</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV09A</Variable_Name>
          <Matrix_Order type='U32'>34</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV08A</Variable_Name>
          <Matrix_Order type='U32'>32</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV08B</Variable_Name>
          <Matrix_Order type='U32'>33</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH08</Variable_Name>
          <Matrix_Order type='U32'>11</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA05B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH09B</Variable_Name>
          <Matrix_Order type='U32'>13</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV09B</Variable_Name>
          <Matrix_Order type='U32'>35</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH11A</Variable_Name>
          <Matrix_Order type='U32'>15</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV11A</Variable_Name>
          <Matrix_Order type='U32'>38</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV10A</Variable_Name>
          <Matrix_Order type='U32'>36</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV10B</Variable_Name>
          <Matrix_Order type='U32'>37</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH10</Variable_Name>
          <Matrix_Order type='U32'>14</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
    <Node mems='2'>
      <Chassis_Name type='String'>PS-RA06B</Chassis_Name>
      <Variables dim='[7]' type='Cluster'>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH11B</Variable_Name>
          <Matrix_Order type='U32'>16</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV11B</Variable_Name>
          <Matrix_Order type='U32'>39</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH01A</Variable_Name>
          <Matrix_Order type='U32'>18</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACV01A</Variable_Name>
          <Matrix_Order type='U32'>42</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV12A</Variable_Name>
          <Matrix_Order type='U32'>40</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ALV12B</Variable_Name>
          <Matrix_Order type='U32'>41</Matrix_Order>
          <Plane type='Enum U8' sel='V'>1</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
        <Variable mems='4'>
          <Variable_Name type='String'>ACH12</Variable_Name>
          <Matrix_Order type='U32'>17</Matrix_Order>
          <Plane type='Enum U8' sel='H'>0</Plane>
          <On_Correction type='Bool'>TRUE</On_Correction>
        </Variable>
      </Variables>
    </Node>
  </Actuation_Network>
</GXML_Root>